name: Automatic code review

on:
    workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  code-review:
    runs-on: ubuntu-latest
    steps:

      - name: Code review
        uses: reviewdog/action-setup@v1
        with:
          reviewdog_version: latest
