name: Node CI

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
    types: [opened, reopened, synchronize, labeled]
  workflow_dispatch:
jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout commit
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Read .nvmrc
        run: echo ::set-output name=NODE_VERSION::$(cat .nvmrc)
        id: nvm

      - name: Use Node.js ${{ steps.nvm.outputs.NODE_VERSION }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ steps.nvm.outputs.NODE_VERSION }}

      - name: Install pnpm
        uses: pnpm/action-setup@v4.1.0

      - name: Install Dependencies
        run: pnpm install

      - name: Run linter
        run: pnpm lint

      - name: Run typechecker
        run: yarn typecheck

      - name: Run tests
        run: pnpm test

      - name: Audit packages
        run: pnpm audit --audit-level=moderate

      - name: Build
        run: pnpm build
