name: opencode

on:
    issue_comment:
        types: [created]
    pull_request_review_comment:
        types: [created]
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]
    workflow_dispatch:
        inputs:
            model:
                description: 'Model name to use for opencode'
                required: false
                default: 'opencode/glm-4.7'
                type: string
    workflow_call:
        inputs:
            model:
                description: 'Model name to use for opencode'
                required: true
                type: string

permissions:
    id-token: write
    contents: read
    pull-requests: read
    issues: read

jobs:
    opencode:
        if: |
            github.event_name == 'workflow_dispatch' ||
            github.event_name == 'workflow_call' ||
            contains(github.event.comment.body, ' /oc') ||
            startsWith(github.event.comment.body, '/oc') ||
            contains(github.event.comment.body, ' /opencode') ||
            startsWith(github.event.comment.body, '/opencode')
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Run opencode
              uses: sst/opencode/github@latest
              env:
                  OPENCODE_API_KEY: ${{ secrets.OPENCODE_API_KEY }}
              with:
                  model: ${{ inputs.model }}
