name: ci

on:
  workflow_dispatch:
  # push:
  #   branches: [main, master]

  # pull_request:
  #   types: [opened, reopened, synchronize]

jobs:
  vm-job:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

    env:
      PGPORT: 5431
      POSTGRES_DB: blog
      POSTGRES_PASSWORD: securepassword
      POSTGRES_USER: user
      PGHOST: localhost

    services:
      postgres:
        image: postgres:16.4
        env:
          POSTGRES_USER: ${{ env.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ env.POSTGRES_PASSWORD }}
          POSTGRES_DB: ${{ env.POSTGRES_DB }}
          PGPORT: ${{ env.PGPORT }}
        ports:
          - 5431:5431
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      # Add your other steps here, such as tests or migrations

      # Step to retrieve PostgreSQL logs
      - name: Retrieve PostgreSQL logs
        if: always() # ensures this runs even if the job fails
        run: docker logs "${{ job.services.postgres.id }}"
