name: Docker and Selenium Tests

on:
    workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@master

            - name: Set up Python
              uses: actions/setup-python@master
              with:
                  python-version: "3.12.7"

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt

            - name: Set up Chrome
              uses: browser-actions/setup-chrome@latest

            - name: Set up ChromeDriver
              uses: nanasess/setup-chromedriver@master

            - name: Run Selenium tests
              run: |
                  export DISPLAY=:99
                  chromedriver --url-base=/wd/hub &
                  sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 &
                  python -m unittest discover tests
              env:
                  SELENIUM_HEADLESS: 1
