name: Swift CI

on:
    workflow_call:

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

jobs:
    lint:
        runs-on: macos-26

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Install SwiftLint
              run: brew install swiftlint

            - name: Install SwiftFormat
              run: brew install swiftformat

            - name: Run SwiftLint
              run: swiftlint lint --strict

            - name: Run SwiftFormat lint
              run: swiftformat --dryrun --config .swiftformat .

    build:
        name: Swift test and build ${{ matrix.swift }} on ${{ matrix.os }}
        strategy:
            matrix:
                os: [macos-latest]
                swift: ['6.0']
        runs-on: ${{ matrix.os }}
        steps:
            - uses: swift-actions/setup-swift@v3
              with:
                  swift-version: ${{ matrix.swift }}
            - uses: actions/checkout@v6
            - name: Build
              run: swift build
            - name: Run tests
              run: swift test
