name: Terraform Quality Checks
on:
  push:
    branches-ignore:
      - main
      - master
    paths:
      - '**/*.tf'
      - '**/*.tfvars'
      - '.terraform.lock.hcl'
  workflow_call: # This makes it callable from other workflows
    inputs:
      terraform_version:
        description: 'Terraform version to use'
        required: false
        type: string
        default: 'latest'
      working_directory:
        description: 'Directory containing Terraform code'
        required: false
        type: string
        default: '.'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  tfsec:
    name: terraform-code-quality
    runs-on: ubuntu-latest
    env:
      TF_PLUGIN_CACHE_DIR: ~/.terraform.d/plugin-cache

    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Create Terraform plugin cache directory
        run: mkdir -p "$TF_PLUGIN_CACHE_DIR"
      - name: Cache Terraform plugins
        uses: actions/cache@v5
        with:
          path: ~/.terraform.d/plugin-cache
          key: ${{ runner.os }}-terraform-${{ hashFiles('**/.terraform.lock.hcl') }}
          restore-keys: |
            ${{ runner.os }}-terraform-
      - name: terraform fmt
        uses: dflook/terraform-fmt-check@v2
        with:
          path: ${{ inputs.working_directory }}
      - name: terraform validate
        uses: dflook/terraform-validate@v2
        with:
          path: ${{ inputs.working_directory }}
      - name: terraform plan
        uses: dflook/terraform-plan@v2
        with:
          path: ${{ inputs.working_directory }}
